@model WebAPIWithReactProject.Server.Models.VillageMaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VillageMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Villagename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Villagename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stateid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stateid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Districtid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Districtid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usedflag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usedflag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SrNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
