@model IEnumerable<WebAPIWithReactProject.Server.Models.Mastercardinventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cardno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardformat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Noformat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uniqueid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forvisitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardAssignedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cardno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cardformat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noformat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uniqueid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forvisitor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardAssignedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cardid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cardid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cardid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
