@model WebAPIWithReactProject.Server.Models.HelperDetail

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HelperDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otlno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otlno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policeverification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policeverification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blacklisted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blacklisted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DhAutoUnreged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DhAutoUnreged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enrollno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locationid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locationid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accesstype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accesstype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accessgroups)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accessgroups)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pbexemptyn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pbexemptyn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extendedyn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extendedyn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pinexemptyn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pinexemptyn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uploadedyn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uploadedyn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ldate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ldate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validfrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validfrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applyvalid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applyvalid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roleid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roleid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inschedelevator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inschedelevator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Outschedelevator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Outschedelevator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pfno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pfno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cardno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cardno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facilitycode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facilitycode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nofmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nofmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uniqueid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uniqueid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Empid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
