@model WebAPIWithReactProject.Server.Models.Pendingactivity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pendingactivity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activitytype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activitytype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ipaddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ipaddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Failedflag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Failedflag)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Srno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
